
  

  /* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* transparent track */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(11, 11, 11); /* black thumb */
  border-radius: 10px; /* roundness of the thumb */
  border: 3px solid transparent; /* creates padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #333; /* slightly lighter black when hovered */
}

/* Firefox */
html {
  background-color: #1E1E24;
  scrollbar-width: thin; 
}
 
